/* Card.css */
/* .card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
} */

.custom-card {
  @apply card bg-base-100 shadow-xl;
  width: calc(20% - 1rem); /* Four cards per row on desktop */
  background-color: var(--base-10, #ffffff);
  box-shadow: var(--shadow-xl, 0 4px 6px rgba(0, 0, 0, 0.1));
  border-radius: 0.5rem;
  overflow: hidden;
  margin: 0.5rem 0; /* Adjust the margin for spacing */
  margin-left: auto;
  margin-right: auto;
}

.custom-card figure img {
  width: 100%;
  height: auto;
}

.custom-card-body {
  padding: 1rem;
}

.custom-card-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
  
}
.custom-card-sale-price {
  color: rgb(168, 62, 62);
   font-weight:600;
   font-family:sans-serif;
   font-size: 1.2rem;
}


.tag {
  @apply badge badge-secondary;
  
}

@media (min-width: 768px) and (max-width: 1024px) {
  .custom-card {
    width: calc(25.00% - 1rem); /* Three cards per row for medium screens */
    
  }
  .card-container {
    width: fit-content;
    
  }
  .custom-card-title {
    font-size: 0.8rem;
  }
  .tag{
    font-size: 0.8rem;
  }
}

/* Media Queries */
@media (min-width: 600px) and (max-width: 768px) {
  .custom-card {
    width: calc(40.33% - 1rem); /* Three cards per row for medium screens */
    
  }
  .card-container {
    width: fit-content;
    
  }
  .custom-card-title {
    font-size: 0.8rem;
  }
  .tag{
    font-size: 0.7rem;
  }
}

@media (max-width: 600px) {
  .custom-card {
    width: calc(47% - 1rem); /* Two cards per row for small screens */
    margin-left: auto;
    margin-right: auto;
  }
  .card-container {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
  }
  .custom-card-title {
    font-size: 0.8rem;
  }
  .tag{
    font-size: 0.6rem;
  }
}

@media (max-width: 375px) {
  .custom-card {
    width: calc(100% - 1rem); /* Two cards per row for small screens */
    margin-left: auto;
    margin-right: auto;
  }
  .card-container {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
  }
  .custom-card-title {
    font-size: 0.6rem;
  }
  .tag{
    font-size: 0.5rem;
  }
  .custom-card-sale-price {
   
     font-size: 0.8rem;
  }
  
}

/* Card.css */

/* Common Styles */
.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.custom-card {
  width: calc(20% - 1rem); /* Four cards per row on desktop */
  border-radius: 0.5rem;
  overflow: hidden;
  margin: 0.5rem 0; /* Adjust the margin for spacing */
  margin-left: auto;
  margin-right: auto;
}

.custom-card figure img {
  width: 100%;
  height: auto;
}

.custom-card-body {
  padding: 1rem;
}

.custom-card-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
}

/* Light Theme */
[data-theme='light'] .custom-card {
  background-color: #FBFAF5;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Dark Theme */
[data-theme='dark'] .custom-card {
  background-color: #1f2937; /* Adjust to your preferred dark color */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
}

[data-theme='dark'] .custom-card-title {
  color: #ffffff;
}
[data-theme='dark'] .custom-card-sale-price {
  color: #ffffff;
}
[data-theme='light'] .custom-card-sale-price {
  color: #0f0f0f;
}

/* Media Queries */
@media (min-width: 768px) and (max-width: 1024px) {
  .custom-card {
    width: calc(25% - 1rem); /* Three cards per row for medium screens */
  }
  .custom-card-title {
    font-size: 0.8rem;
  }
  .custom-card-sale-price {
    color: rgb(168, 62, 62);
     font-weight:600;
     font-family:sans-serif;
     font-size: 1rem;
  }
}

@media (min-width: 600px) and (max-width: 768px) {
  .custom-card {
    width: calc(40% - 1rem); /* Three cards per row for medium screens */
  }
  .custom-card-title {
    font-size: 0.9rem;
  }
  .custom-card-sale-price {
    color: rgb(168, 62, 62);
     font-weight:600;
     font-family:sans-serif;
     font-size: 1rem;
  }
}

@media (max-width: 600px) {
  .custom-card {
    width: calc(46% - 1rem); /* Two cards per row for small screens */
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }
  .custom-card-title {
    font-size: 0.7rem;
  }
  .custom-card-sale-price {
    color: rgb(168, 62, 62);
     font-weight:600;
     font-family:sans-serif;
     font-size: 1rem;
  }
}

@media (max-width: 400px) {
  .custom-card {
    width: calc(45% - 1rem); /* Full width for very small screens */
  }
  .custom-card-title {
    font-size: 0.6rem;
  }
  .custom-card-sale-price {
    color: rgb(168, 62, 62);
     font-weight:600;
     font-family:sans-serif;
     font-size: 0.9rem;
  }
  
}

@media (min-width: 320) {
  .custom-card {
    width: calc(100% - 1rem); /* Full width for very small screens */
  }
  .custom-card-title {
    font-size: 0.6rem;
  }
  .custom-card-sale-price {
    color: rgb(168, 62, 62);
     font-weight:600;
     font-family:sans-serif;
     font-size: 0.9rem;
  }
  .tag{
    font-size: 0.5rem;
  }
}
